//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
 	@media screen and (max-width: #{$breakpoint1}) {
    @content;
 	}
}
//============================================
// line height
//============================================
// Calculate line height from PSD to HTML, and don't apply margin to first row
@mixin line-height($fontsize, $lineheight ){
    //line-height: ($lineheight) + px;
    line-height: ($lineheight/10) + rem;
    //margin-top: (($lineheight - $fontsize)/2 * -1) + px;
    margin-top: ((($lineheight - $fontsize)/2 * -1) / 10 ) + rem;

}
//============================================
// letter-spacing
//============================================
@mixin psd-letter-spacing($tracking) {
  letter-spacing: ($tracking / 1000) * 1em;
}