//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1:767px;
$breakpoint2:480px;

// Common Colors
$color1: #09297e;
$color2: #071f5e;
$color3: #060e4b;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;