/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-breadcrumb{
	width: 1140px;
	height: 52px;
	background: #fff;
	border-bottom: solid 3px #e8e8e8;
	margin: 30px auto 20px;
	padding: 16px 20px;
	font-size: 1.2rem;
	//------------------------------------------------------------
	li{
		color: #333;
		list-style: none;
		display: inline-block;
		@include psd-letter-spacing(100);
		&+li:before{
			content: url('../image/common/icon_bcrumb.png');
			margin: 0 12px;
		}
	}
	//------------------------------------------------------------
	a{
		text-decoration: none;
		color: #333;
	}
}