/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	//------------------------------------------------------------
	&__1{
		padding-top: 35px;
		padding-bottom: 29px;
		background: #555;
		color: #fff;
		.l-container{
			display: flex;
			justify-content: space-between;
		}
	}
	//------------------------------------------------------------
	&__2{
		background: #333;
		p{
			font-size: 1rem;
			color: #fff;
			padding: 13px 0;
			@include psd-letter-spacing(75);
		}
	}
	//------------------------------------------------------------
	&__block{
		width: 330px;
	}
	//------------------------------------------------------------
	&__title{
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 16px;
	}
	//------------------------------------------------------------
	&__text{
		margin-bottom: 23px;
		p{
			font-size: 1.2rem;
			@include line-height(12,20);
			@include psd-letter-spacing(75);
		}
	}
	//------------------------------------------------------------
	&__list{
		.c-list1{
			li{
				padding-bottom: 6px;
			}
		}
	}
}