/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
	//------------------------------------------------------------
	&__top{
		background: $color1;
		height: 90px;
		@include clear;
	}
	//------------------------------------------------------------
	&__logo{
		width: 220px;
		float: left;
		padding-top: 20px;
	}
	//------------------------------------------------------------
	&__right{
		float: right;
		width: 645px;
		display: flex;
		justify-content: space-between;
	}
	//------------------------------------------------------------
	&__list{
		width: 260px;
		margin-top: 36px;
	}
	&__button{
		margin-top: 30px;
		margin-right: 30px;
		.c-btn1{
			a{
				width: 120px;
				height: 30px;
			}
		}
	}
	//------------------------------------------------------------
	&__nav{
		background: #fff;
		height: 93px;
		border-bottom: solid 3px #e8e8e8;
		ul{
			display: flex;
			justify-content: space-between;
			border-right: solid 1px #e8e8e8;
		}
		li{
			width: 163px;
			height: 90px;
			text-align: center;
			border-left: solid 1px #e8e8e8;
			@for $i from 1 through 7{
				&:nth-child(#{$i}){
					background-image: url('../image/common/menu#{$i}.png');
					background-repeat: no-repeat;
					background-position: top 19px center;
				}
			}
		}
		a{
			display: inline-block;
			text-decoration: none;
			color: #333;
			font-size: 1.4rem;
			width: 162px;
			font-weight: bold;
			padding-top: 55px;
			height: 35px;
		}
	}
	.is-current{
		background-color: #f7f5ed;
		a{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				border-bottom: solid 3px  #b49d51;
			}
		}
	}
	//------------------------------------------------------------

}