/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	background: #f4f4f4;
	min-width: 1300px;
}
.l-container{
	width: 1140px;
	margin: 0 auto;
}

