/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1{
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #fff;
		background: $color2;
		border-bottom: solid 3px $color3;
		border-radius: 5px;
		font-size: 1.2rem;
		i{
			padding-right: 5px;
		}
	}
}