/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-pageTitle{
	margin-bottom: 20px;
	h2{
		font-size: 3rem;
		text-align: center;
		padding: 16px 0;
		background: $color1;
		color: #fff;
		border-bottom: solid 3px #e8e8e8;
	}
}