/*------------------------------------------------------------
list
------------------------------------------------------------*/

/* c-list1
------------------------------------------------------------*/
.c-list1{
	//------------------------------------------------------------
	&--inline{
		li{
			display: inline-block;
		}
	}
	//------------------------------------------------------------
	ul{
	}
	//------------------------------------------------------------
	li{
		&:not(:last-child){
			margin-right: 30px;
		}
	}
	//------------------------------------------------------------
	a{
		text-decoration: none;
		color: #fff;
		font-size: 1.2rem;
		&:before{
			content: '\f0da';
			font-family: FontAwesome;
		    font-size: 1.2rem;
		    padding-right: 5px;
		}
	}

}