/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-ad{
	text-align: center;
	&--horizontal-s{
		margin-bottom: 37px;
	}
}